---
---

  .category-table {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    .search-table-title {
      text-align: center;
      display: none;
      margin: 4vh 0 1vh 0;
    }

    .table-success, .table-danger {
      margin: 2px auto;
      padding: 1em;
      border-bottom: 1px groove rgba(34, 36, 38, .14902);
      height: 64px;

      .website-doc {
        background-color: #009fda;
        margin: 0 auto;
        display: none !important;

        a {
          font-family: Spartan;
          color: #fff;
          text-decoration: none;

          i {
            color: #fff !important;
          }
        }
      }

      &.open {
        padding: 2em;
        height: max-content;

        .site-title{
          line-height: 53px;
          margin-bottom: 2em;
          max-width: 25%;
          .logo {
              height: 64px;
              width: 64px;
          }
        }

        .open {
          display: flex !important;
        }

        .tfa-list {
          height: 64px;
          align-content: center;
        }

        .social-button-group {
          display: inline-block;
        }

        .website-doc {
          display: flex !important;
        }
      }

      .site-title {
        font-size: 18px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #3596ff;
        max-width: 20%;

        .fa-exclamation-triangle {
          float: right;
        }
      }

      

      .text-danger {
        text-align: center;
        display: block;
      }

    }
  }
