---
---

.social-button-group {
  display: none;
}

@media screen and (min-width: 993px) {
  .open .social-button-group {
    display: inline-block;
    margin-top: 2em;
    margin-left: -6px
  }
}

.social-button {
  width: 140px;
  color: white;
  margin: 0 6px;

  &.twitter-button {
    background-color: #1DA1F2;
  }

  &.facebook-button {
    background-color: #3b5998;
  }

  &.email-button {
    background-color: #ea4235;
  }
}

@media screen and (max-width: 992px) {
  .social-button {
    margin: .2em;
    max-width: 50%;
  }}
