<div class="col-12 col-md btn cat" type="button" data-toggle="collapse" data-target="#{{keyword}}-table" aria-expanded="false" aria-controls="{{keyword}}-table" id="{{keyword}}">
  <h5 style="display: inline-block; text-align: center; margin-top: 0;">

    <div style="width: 100%;">
      <div style="display: flex; align-items: center; margin: auto;">
        <i class="fas fa-ellipsis-h {{section.icon}} category-icon fa-fw"></i>
      </div>
      <small class="category-title">{{ keyword }}</small>
    </div>
  </h5>
</div>